#admin_header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 9999;
}
#admin_header .header_section {
  height: 100%;
  display: inline-flex;
  padding: 0;
}
#admin_header .header_section img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#admin_header .header_section .header_link {
  border: solid 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}
#admin_header .header_section .header_link.item {
  background-image: linear-gradient(to bottom, black, grey);
  opacity: 0.9;
  color: white;
  margin: 6px 6px 6px 0;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
@media (max-width: 768px) {
  #admin_header .header_section .header_link.item {
    font-size: 0.9em;
  }
}
#admin_header .header_section .header_link.item.active {
  margin-top: 12px;
  margin-bottom: 0;
  box-shadow: 3px -10px 22px -2px rgba(0, 0, 0, 0.75);
}
#admin_header .header_section .header_link.item:first-child {
  margin-left: 6px;
}
#admin_header .header_section .header_link.item:hover {
  transform: scale(1.05);
  z-index: 9999;
}
#admin_header .header_section .header_link.icon {
  font-size: 60px;
  border-radius: 0 0 0 10px;
  border: solid 2px #201f1ff2;
  border-right: none;
  border-top: none;
}
#admin_header .header_section .header_link.logo {
  border-radius: 0 0 10px 0;
  border: solid 2px #201f1ff2;
  border-left: none;
  border-top: none;
}

/*--- FONDO ---*/
#admin_content {
  background-image: url("../imagenes/fondos/cesped.jpg");
  min-height: 100%;
  opacity: 0.7;
}

.main_content {
  padding-top: 80px;
}

/*---  PANELES ---*/
.main_panel {
  background-color: #e9ebe6e6;
  box-shadow: 1px 11px 33px -9px rgba(0, 0, 0, 0.75);
  height: 100%;
}

/*--- HOME ---*/
.home_content {
  height: calc(100vh - 80px);
  padding: 80px 0;
  font-family: "Lato", sans-serif;
}

.resultados_content {
  margin: 20px 0;
  color: black;
}
.resultados_content .resultado_title {
  margin: 40px 0;
}
.resultados_content .resultado_title span {
  border-bottom: solid 2px black;
  font-size: 2em;
}
.resultados_content .category_link {
  border: solid 1.5px black;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.resultados_content .category_link:hover {
  color: white;
  background-color: grey;
}
.resultados_content .category_link span {
  text-transform: uppercase;
}

.calendar_content {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*--- FullCalendar ---*/
#calendar {
  height: 100%;
}
#calendar .fc-toolbar .fc-center {
  color: black;
  text-transform: uppercase;
}
#calendar .fc-day-number {
  float: left;
}
#calendar .fc-body {
  box-shadow: 2px 13px 34px 0px rgba(0, 0, 0, 0.75);
}
#calendar .fc-day-header {
  text-transform: uppercase;
  color: black;
}
#calendar .fc-day {
  background-color: white;
}
#calendar .fc-day.fc-today {
  background-color: #f1edd6;
}
#calendar .fc-day.fc-sat, #calendar .fc-day.fc-sun {
  background-color: #f1f1f1;
}

/*# sourceMappingURL=admin.css.map */
