@import 'SASS/variables';


/*--- HOME ---*/
.main_calendar_panel{
  height:75vh;
  @media #{$media} and #{$pantallaSmall}{
    height:50vh;
  }
  .ppns-cal__col{
    font-size:.9em;
  }
}
.side_calendar_panel{
  height:50%;
  &:first-child{
    margin-bottom:30px;
  }
}
.calendar_content{
  height:100%;
  position:relative;
}

.side_calendar{
  .ppns-cal__cell span{
    height:25px;
    width:25px;
    line-height:25px;
  }
}
.info_panel{
  text-align:center;
  font-size:1.2em;
  font-weight:bold;
  color:$primary-color;
  .material-icons{
    color: $dark-primary-color;
  }
}
.event_modal{
  top:100px;
  input{
    border:none;
    border-bottom:solid 1px $primary-color;
    padding:10px 15px;
    &:focus{
      outline:none;
    }
  }
  #add_categories_event{
    font-size:.8em;
    margin-left:15px;
    color:$dark-primary-color;
    cursor:pointer;
    border:solid .8px;
    border-radius:15px;
    padding:5px;
    &:hover{
      transform:scale(1.006);
    }
    .material-icons{
      margin-right:3px;
    }
  }
  .event_categorie{
    box-shadow:1px 1px 2px -1px
  }
  #add_rep_event{
    font-size:.9em;
    cursor:pointer;
    border:solid .8px;
    border-radius:15px;
    padding:5px 15px;
    font-weight:bold;
    background-color:#fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    &:hover{
      transform: scale(1.006);
    }
    .material-icons{
      margin-left:3px;
    }
  }
  .foot-option{
    font-size:.9em;
    cursor:pointer;
    &.cancel_option{
      color:$dark-cancel-color;
    }
    &.save_option{
      color:$save-color;
    }
  }
  .material-icons{
    text-align:center;
    font-size:1em;
  }
  .categories_event_panel{
    position:absolute;
    background-color:#fafafa;
    box-shadow:-5px 4px 20px 0 rgba(0, 0, 0, 0.2);
    top:0;
    left:30%;
    right:0;
    border-radius:.3rem;
    transform:perspective(400px) rotateY(90deg);
    padding:15px;
    min-width:300px;
    transition:transform .5s cubic-bezier(0,0,.5,1),opacity .2s linear;
    transform-origin:left;
    opacity:0;
    &.active{
      transform:perspective(400px);
      transition:transform .5s cubic-bezier(0,0,.5,1),opacity .2s linear;
      opacity:1;
    }
    .panel-title{
      font-weight:bold;
      button{
        font-size:.9em;
      }
      .material-icons.back_icon{
        position:absolute;
        left:0;
        top:0;
        padding:10px;
        font-size:.9em;
        opacity:.5;
        cursor:pointer;
      }
    }
    .panel_body{
      opacity:0;
      display:none;
      &.active{
        opacity:1;
        display:block;
      }
    }
    .categorie{
      padding:5px 10px;
      font-size:.8em;
      border-radius:7px;
      cursor:pointer;
      width:100%;
      max-width:100%;
      transition:transform .3s,box-shadow .3s;
      color:white;
      margin-bottom:5px;
      &:hover{
        box-shadow: 1px 5px 17px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1.007);
      }
    }
    #add_new_categorie{
      background-color:darkgrey;
      color:black;
      display:flex;
      align-items: center;
      margin-top:10px;
      &:hover{
        transform:scale(1);
        box-shadow:none;
        background-color:gray;
      }
      .material-icons{
        position:relative;
        left:0;
        color:black;
        margin-right:10px;
      }
    }
    .categorie_row .material-icons{
      position:absolute;
      right:15px;
      cursor:pointer;
      color:$divider-color;
    }
    #create_category{
      .title{
        font-size:.9em;
        font-weight:bold;
        &.error{
          color:red;
          &:after{
            content:'*';
            color:red;
          }
        }
      }
      input{
        border:solid 1px $dark-color-resaltado;
        border-radius:5px;
        padding:5px;
        width:70%;
        &.error{
          border-color:$dark-cancel-color;
        }
      }
      .color_grid_selection{
        display:flex;
        flex-wrap: wrap;
        margin-top:2px;
        .color_selection{
          height:50px;
          width:50px;
          border-radius:5px;
          margin:0 3px 3px 0;
          cursor:pointer;
          position:relative;
          &:hover{
            opacity:.7;
          }
          .material-icons{
            position: absolute;
            left: 50%;
            top: 50%;
            color: white;
            transform: translate(-50%,-50%);
            font-size: 1.2em;
            opacity:0;
            transition:opacity .2s linear;
          }
          &.selected .material-icons{
            opacity:1;
          }
        }
      }
    }
  }
}
/*--- EQUIPO TECNICO ---*/
.panel_header{
  .panel_title{
    text-transform: uppercase;
    font-size:2em;
    clear:both;
  }
  .panel_description{
    font-family:$fuente_texto;
    text-align:center;
    a{
      cursor:pointer;
      text-decoration: underline;
    }
  }
}
.panel_body{
  margin-top:25px;
  height:calc(70% - 25px);
}
#tecnicos_content{
  margin:0 20px;
}
.mister_info{
  margin:15px 0;
  @media #{$media} and #{$pantallaSmall}{
    height:250px;
  }
  @media #{$media} and #{$pantallaMedia}{
    height:300px;
  }
  height:350px;
  background-color:white;
  transition:transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor:pointer;
  border-radius:4px;
  &:hover{
    transform:scale(1.006, 1.006);
    box-shadow:0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  }
  .mister_image{
    text-align:center;
    height:65%;
    img{
      width:100%;
      height:100%;
      border-radius:4px 4px 0 0;
    }
  }
  .mister_desc{
    text-align:center;
    .mister_name{
      margin:15px 0;
    }
  }
}
#add_tecnico_button{
  border:solid 1px black;
  color:black;
  padding:5px;
  float:right;
  font-size:2em;
  border-radius:5px;
  cursor:pointer;
  &:hover{
    background-color:black;
    color:white;
  }
}

/*--- EQUIPO ---*/
.team_header_tab{
  @media #{$media} and #{$pantallaSmall}{
    font-size:12px;
    margin:10px 5px;
    padding:0;
  }
  text-transform: uppercase;
  padding:10px;
  margin:10px;
  cursor:pointer;
  &.active{
    &:after{
      width:100%;
    }
  }
  &:hover:after{
    width:100%;
  }
  &:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }
}
.team_detail_content{
  opacity:0;
  display:none;
}

.panel_select_overlay{
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  background-color:rgba(255,255,255,0.96);
  opacity:0;
  visibility: hidden;
  transform:perspective(100vw) translate3d(0,0,-200px);
  transition:opacity 0.4s,transform 0.4s;
  &.animate{
    opacity:0.9;
    visibility: visible;
    transform:perspective(100vw) translate3d(0,0,0);
  }
  .selector_options{
    font-size:1.3em;
    font-weight:bold;
    ul{
      list-style-type: none;
      padding:0;
    }
    .option{
      cursor:pointer;
      color:#95948f;
      &.selected{
        color:darkorange;
      }
    }
  }
  .selector_title{
    color:#bbb9b4;
    text-transform:uppercase;
    font-size:0.9em;
  }
  .first-row{
    text-align:right;
  }
}
#select_team_icon{
  border-radius: 50%;
  //box-shadow: 0 0 2px black;
  border: solid 0.08em;
  padding: 7px;
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  cursor:pointer;
  &:hover{
    transform:scale(1.08, 1.08);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.38);
    //color:white;
    //background-color:black;
  }
}

/*--- MATERIAL ---*/
.material-card{
  width:350px;
  cursor:pointer;
  height:170px;
  transition:transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow:0 10px 27px 1px rgba(0,0,0,0.75);
  margin:10px 5px;
  &:hover{
    &:before{
      opacity:.04;
    }
    .card-img.fondo .material-icons:before{
      opacity:.04;
      transform:scale(1.7);
    }
  }
  &:before, &:after{
    content:'';
    transition:opacity 0.6s linear;
    background-color:#000;
    opacity:0;
    position:absolute;
    height:100%;
    width:100%;
  }
  .card-img.fondo{
    position:absolute;
    width:65px;
    height:65px;
    left:calc(50% - 32px);
    top:calc(50% - 32px);
    .material-icons{
      padding:8px;
      cursor:pointer;
      font-size:50px;
      &.active:after{
        opacity:.16;
        transform: scale(1.7);
      }
    }
  }
}
/*
* Cambio de secciones
*/
