.admin_teams {
  display: inline-flex;
  justify-content: space-around;
}

.main_team_panel {
  right: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 15px;
  position: absolute;
  top: 100px;
  height: 50%;
  width: 35%;
  transition: transform, left, right, top 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  z-index: 3;
}
.main_team_panel.active {
  right: 0;
}
.main_team_panel:first-child {
  left: 5%;
}
.main_team_panel:first-child.active {
  left: 0;
}
.main_team_panel.oculto {
  animation: vlv 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.main_team_panel.active {
  top: 0;
  cursor: default;
  animation: activate 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.main_team_panel:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}
.main_team_panel:not(.active):hover {
  transform: scale(1.04);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
}
.main_team_panel#federados_link {
  background-image: url("../../imagenes/fondos/federados.jpg");
}
.main_team_panel#escuela_link {
  background-image: url("../../imagenes/fondos/escuela.jpg");
}
.main_team_panel .back_icon {
  opacity: 0;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 2em;
  cursor: pointer;
  z-index: 3;
}
.main_team_panel .title {
  font-size: 4em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Comfortaa, cursive;
  font-weight: bold;
}

.content_section {
  position: absolute;
  top: 20%;
  bottom: 0;
}

.teams_section {
  display: none;
  opacity: 0;
  transform: perspective(100vw) translate3d(0, 0, -200px);
  transition: transform 0.25s, opacity 0.2s;
  height: 100%;
}
.teams_section.active {
  opacity: 1;
  transform: perspective(100vw) translate3d(0, 0, 0);
}

.teams_info {
  position: absolute;
  top: 30px;
}
.teams_info .teams_table {
  position: absolute;
  left: 15px;
  top: 5px;
  white-space: nowrap;
}
.teams_info .teams_table td {
  padding: 15px;
}

#add_team_form .input-field input {
  text-transform: uppercase;
}

#add_team_button {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#add_team_button.right {
  top: 15px;
  right: 0;
  left: unset;
  transform: translate(0, 0);
}

/*----- ANIMACIONES ----*/
@keyframes activate {
  0% {
    width: 35%;
    height: 50%;
  }
  100% {
    width: calc(100% - 30px);
    height: 20%;
  }
}
@keyframes vlv {
  from {
    width: calc(100% - 30px);
    height: 20%;
  }
  to {
    width: 35%;
    height: 50%;
  }
}
/*--- HOME ---*/
.side_calendar_panel:first-child {
  margin-bottom: 30px;
}

.side_calendar .ppns-cal__cell span {
  height: 25px;
  width: 25px;
  line-height: 25px;
}

.info_panel {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #009688;
  padding-top: 15px;
}
.info_panel .material-icons {
  color: #00796B;
}

#add_event {
  cursor: pointer;
  position: relative;
}
#add_event:hover:after {
  opacity: 0.2;
  background-color: #00796B;
  transform: scale(1.1);
}
#add_event.active:before {
  opacity: 0.08;
  transform: scale(1.1);
  background-color: #00796B;
}

.event_modal {
  top: 100px;
}
.event_modal input {
  border: none;
  border-bottom: solid 1px #009688;
  padding: 10px 15px;
}
.event_modal input:focus {
  outline: none;
}
.event_modal #add_categories_event {
  color: #00796B;
  cursor: pointer;
  border: solid 0.8px;
  padding: 5px;
}
.event_modal #add_categories_event:hover {
  transform: scale(1.006);
}
.event_modal #add_categories_event .material-icons {
  margin-right: 3px;
}
.event_modal .event_categorie {
  box-shadow: 1px 1px 2px -1px;
  font-size: 0.8em;
  margin-left: 15px;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.event_modal .event_categorie.selected {
  color: white;
}
.event_modal .event_categorie.selected .material-icons {
  margin-left: 5px;
  cursor: pointer;
}
.event_modal #add_rep_event {
  font-size: 0.9em;
  cursor: pointer;
  border: solid 0.8px;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: bold;
  background-color: #fafafa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.event_modal #add_rep_event:hover {
  transform: scale(1.006);
}
.event_modal #add_rep_event .material-icons {
  margin-left: 3px;
}
.event_modal .foot-option {
  font-size: 0.9em;
  cursor: pointer;
}
.event_modal .foot-option.cancel_option {
  color: #884a4a;
}
.event_modal .foot-option.save_option {
  color: rgba(75, 159, 79, 0.88);
}
.event_modal .material-icons {
  text-align: center;
  font-size: 1em;
}
.event_modal .categories_event_panel {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  transform: perspective(400px) rotateY(90deg);
  min-width: 300px;
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1), opacity 0.2s linear;
  transform-origin: left;
  opacity: 0;
}
.event_modal .categories_event_panel.active {
  transform: perspective(400px);
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1), opacity 0.2s linear;
  opacity: 1;
}
.event_modal .categories_event_panel .panel-title {
  font-weight: bold;
}
.event_modal .categories_event_panel .panel-title button {
  font-size: 0.9em;
}
.event_modal .categories_event_panel .panel-title .material-icons.back_icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 0.9em;
  opacity: 0.5;
  cursor: pointer;
}
.event_modal .categories_event_panel .panel_body {
  opacity: 0;
  display: none;
}
.event_modal .categories_event_panel .panel_body.active {
  opacity: 1;
  display: block;
}
.event_modal .categories_event_panel .categorie {
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
  margin-bottom: 5px;
}
.event_modal .categories_event_panel .categorie:hover {
  box-shadow: 1px 5px 17px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.007);
}
.event_modal .categories_event_panel #add_new_categorie {
  background-color: darkgrey;
  color: black;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.event_modal .categories_event_panel #add_new_categorie:hover {
  transform: scale(1);
  box-shadow: none;
  background-color: gray;
}
.event_modal .categories_event_panel #add_new_categorie .material-icons {
  position: relative;
  left: 0;
  color: black;
  margin-right: 10px;
}
.event_modal .categories_event_panel .categorie_row .material-icons {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #BDBDBD;
}
.event_modal .categories_event_panel #create_category .title {
  font-size: 0.9em;
  font-weight: bold;
}
.event_modal .categories_event_panel #create_category .title.error {
  color: red;
}
.event_modal .categories_event_panel #create_category .title.error:after {
  content: "*";
  color: red;
}
.event_modal .categories_event_panel #create_category input {
  border: solid 1px #425F6D;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
}
.event_modal .categories_event_panel #create_category input.error {
  border-color: #884a4a;
}
.event_modal .categories_event_panel #create_category .color_grid_selection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 0 3px 3px 0;
  cursor: pointer;
  position: relative;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection:hover {
  opacity: 0.7;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection .material-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection.selected .material-icons {
  opacity: 1;
}
.event_modal .repeat_event_panel {
  position: absolute;
  display: none;
  right: 15px;
  bottom: 15px;
  left: 15px;
  top: 15px;
  transform: translate(-25%, 0);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.event_modal .repeat_event_panel.active {
  transform: translate(0, 0);
  opacity: 1;
}
.event_modal .repeat_event_panel .options_body {
  padding: 25px 0;
  height: 300px;
}
.event_modal .repeat_event_panel .options_body .repeat_option {
  border-bottom: solid 1px #00796B;
  cursor: pointer;
  font-size: 0.9em;
  padding-left: 15px;
  height: calc(100% / 7);
  display: flex;
  align-items: center;
}
.event_modal .repeat_event_panel .options_body .repeat_option:hover {
  background-color: #B2DFDB;
}
.event_modal .repeat_event_panel .options_body .repeat_option.selected {
  background-color: #00796B;
  color: white;
}
.event_modal .repeat_event_panel .options_body .repeat_option.selected:hover {
  background-color: #00796B;
}
.event_modal .repeat_selection {
  height: 0;
}
.event_modal .repeat_selection.active {
  height: 100%;
}
.event_modal .repeat_selection #picker_repeat {
  border-bottom: solid 1px #BDBDBD;
  opacity: 0;
  display: none;
  transition: opacity 0.2s linear 0.3s;
  height: 25px;
}
.event_modal .repeat_selection #picker_repeat.active {
  opacity: 1;
}
.event_modal .repeat_selection #picker_repeat #picker_repeat_input, .event_modal .repeat_selection #picker_repeat .material-icons {
  color: #BDBDBD;
  cursor: pointer;
}
.event_modal .repeat_selection #info_repeat_event {
  color: #BDBDBD;
  margin: 5px 15px;
  font-size: 0.8em;
  text-align: center;
}
.event_modal .repeat_selection #info_repeat_event:before {
  content: "*";
}
.event_modal .repeat_selection #day_month_select {
  transition: opacity 0.2s linear 0.4s;
  opacity: 0;
  display: none;
}
.event_modal .repeat_selection #day_month_select.active {
  opacity: 1;
}
.event_modal .repeat_selection #day_month_select td.day_month_table {
  text-align: center;
  cursor: pointer;
}
.event_modal .repeat_selection #day_month_select td.day_month_table:hover {
  background-color: #B2DFDB;
}
.event_modal .repeat_selection #day_month_select td.day_month_table.selected {
  background-color: #00796B;
  color: white;
}
.event_modal .repeat_selection #day_month_select td.day_month_table.selected:hover {
  background-color: #00796B;
}
.event_modal .repeat_selection #day_repeat {
  transition: opacity 0.2s linear 0.4s;
  opacity: 0;
  display: none;
}
.event_modal .repeat_selection #day_repeat.active {
  opacity: 1;
}
.event_modal .repeat_selection #day_repeat .col {
  border: solid 1px #009688;
  border-right: none;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
.event_modal .repeat_selection #day_repeat .col:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.event_modal .repeat_selection #day_repeat .col:last-child {
  border-right: solid 1px #009688;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.event_modal .repeat_selection #day_repeat .col.selected {
  background-color: #009688;
  color: white;
}
.event_modal .repeat_selection #day_repeat .col.selected:hover {
  background-color: #009688;
}
.event_modal .repeat_selection #day_repeat .col:hover {
  background-color: #B2DFDB;
}

/*--- EQUIPO TECNICO ---*/
.panel_header .panel_title {
  text-transform: uppercase;
  font-size: 2em;
  clear: both;
}
.panel_header .panel_description {
  font-family: Raleway, sans-serif;
  text-align: center;
}
.panel_header .panel_description a {
  cursor: pointer;
  text-decoration: underline;
}

.panel_body {
  margin-top: 25px;
  height: calc(70% - 25px);
}

#tecnicos_content {
  margin: 0 20px;
}

.mister_info {
  margin: 15px 0;
  height: 350px;
  background-color: white;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  border-radius: 4px;
}
@media only screen and (max-width:758px) {
  .mister_info {
    height: 250px;
  }
}
@media only screen and (max-width:990px) {
  .mister_info {
    height: 300px;
  }
}
.mister_info:hover {
  transform: scale(1.006, 1.006);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.mister_info .mister_image {
  text-align: center;
  height: 65%;
}
.mister_info .mister_image img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}
.mister_info .mister_desc {
  text-align: center;
}
.mister_info .mister_desc .mister_name {
  margin: 15px 0;
}

#add_tecnico_button {
  border: solid 1px black;
  color: black;
  padding: 5px;
  float: right;
  font-size: 2em;
  border-radius: 5px;
  cursor: pointer;
}
#add_tecnico_button:hover {
  background-color: black;
  color: white;
}

/*--- EQUIPO ---*/
.team_header_tab {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
@media only screen and (max-width:758px) {
  .team_header_tab {
    font-size: 12px;
    margin: 10px 5px;
    padding: 0;
  }
}
.team_header_tab.active:after {
  width: 100%;
}
.team_header_tab:hover:after {
  width: 100%;
}
.team_header_tab:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.team_detail_content {
  opacity: 0;
  display: none;
}

.panel_select_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.96);
  opacity: 0;
  visibility: hidden;
  transform: perspective(100vw) translate3d(0, 0, -200px);
  transition: opacity 0.4s, transform 0.4s;
}
.panel_select_overlay.animate {
  opacity: 0.9;
  visibility: visible;
  transform: perspective(100vw) translate3d(0, 0, 0);
}
.panel_select_overlay .selector_options {
  font-size: 1.3em;
  font-weight: bold;
}
.panel_select_overlay .selector_options ul {
  list-style-type: none;
  padding: 0;
}
.panel_select_overlay .selector_options .option {
  cursor: pointer;
  color: #95948f;
}
.panel_select_overlay .selector_options .option.selected {
  color: darkorange;
}
.panel_select_overlay .selector_title {
  color: #bbb9b4;
  text-transform: uppercase;
  font-size: 0.9em;
}
.panel_select_overlay .first-row {
  text-align: right;
}

#select_team_icon {
  border-radius: 50%;
  border: solid 0.08em;
  padding: 7px;
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}
#select_team_icon:hover {
  transform: scale(1.08, 1.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.38);
}

/*--- MATERIAL ---*/
.material-card {
  width: 350px;
  cursor: pointer;
  height: 170px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 10px 27px 1px rgba(0, 0, 0, 0.75);
  margin: 10px 5px;
}
.material-card:hover:before {
  opacity: 0.04;
}
.material-card:hover .card-img.fondo .material-icons:before {
  opacity: 0.04;
  transform: scale(1.7);
}
.material-card:before, .material-card:after {
  content: "";
  transition: opacity 0.6s linear;
  background-color: #000;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.material-card .card-img.fondo {
  position: absolute;
  width: 65px;
  height: 65px;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}
.material-card .card-img.fondo .material-icons {
  padding: 8px;
  cursor: pointer;
  font-size: 50px;
}
.material-card .card-img.fondo .material-icons.active:after {
  opacity: 0.16;
  transform: scale(1.7);
}

/*
* Cambio de secciones
*/

/*# sourceMappingURL=admin.css.map */
