@charset "UTF-8";
.event_modal {
  font-family: Raleway, sans-serif;
}
.event_modal #row_categorie_event {
  margin-left: 3rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 0.8em;
}
.event_modal #add_categories_event {
  margin-right: 1rem;
  border-radius: 15px;
}
.event_modal .event_categorie {
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.event_modal .event_categorie.selected {
  color: white;
}
.event_modal .event_categorie.selected .material-icons {
  margin-left: 5px;
  cursor: pointer;
  font-size: 1.4em;
}
.event_modal .categories_event_panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s ease-out, z-index 0.1s linear 0.3s;
  transform: translate(-100%, 0);
}
.event_modal .categories_event_panel.active {
  transform: translate(0, 0);
  z-index: 2;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  opacity: 1;
}
.event_modal .categories_event_panel .add_categorie_button {
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 30px;
  margin-top: 20px;
  position: absolute;
}
.event_modal .categories_event_panel .panel-title {
  font-weight: bold;
}
.event_modal .categories_event_panel .panel_body {
  opacity: 0;
  display: none;
}
.event_modal .categories_event_panel .panel_body.active {
  opacity: 1;
  display: block;
}
.event_modal .categories_event_panel .categorie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.8em;
  border-radius: 15px;
  cursor: pointer;
  width: calc(50% - 5px);
  max-width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
  margin-bottom: 5px;
}
.event_modal .categories_event_panel .categorie:hover {
  box-shadow: 1px 5px 17px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.007);
}
.event_modal .categories_event_panel .edit_category {
  z-index: 3;
}
.event_modal .categories_event_panel #create_category .title {
  font-size: 0.9em;
  font-weight: bold;
}
.event_modal .categories_event_panel #create_category .title.error {
  color: red;
}
.event_modal .categories_event_panel #create_category .title.error:after {
  content: "*";
  color: red;
}
.event_modal .categories_event_panel #create_category .color_grid_selection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 0 3px 3px 0;
  cursor: pointer;
  position: relative;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection:hover {
  opacity: 0.7;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection .material-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.event_modal .categories_event_panel #create_category .color_grid_selection .color_selection.selected .material-icons {
  opacity: 1;
}
.event_modal .repeat_event_panel {
  position: absolute;
  display: none;
  right: 15px;
  bottom: 15px;
  left: 15px;
  top: 15px;
  transform: translate(-25%, 0);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.event_modal .repeat_event_panel.active {
  transform: translate(0, 0);
  opacity: 1;
}
.event_modal .repeat_event_panel .options_body {
  padding: 25px 0;
  height: 300px;
}
.event_modal .repeat_event_panel .options_body .repeat_option {
  border-bottom: solid 1px #00796B;
  cursor: pointer;
  font-size: 0.9em;
  padding-left: 15px;
  height: calc(100% / 7);
  display: flex;
  align-items: center;
}
.event_modal .repeat_event_panel .options_body .repeat_option:hover {
  background-color: #B2DFDB;
}
.event_modal .repeat_event_panel .options_body .repeat_option.selected {
  background-color: #00796B;
  color: white;
}
.event_modal .repeat_event_panel .options_body .repeat_option.selected:hover {
  background-color: #00796B;
}
.event_modal .repeat_selection {
  height: 0;
}
.event_modal .repeat_selection.active {
  height: 100%;
}
.event_modal .repeat_selection #picker_repeat {
  border-bottom: solid 1px #BDBDBD;
  opacity: 0;
  display: none;
  transition: opacity 0.2s linear 0.3s;
  height: 25px;
}
.event_modal .repeat_selection #picker_repeat.active {
  opacity: 1;
}
.event_modal .repeat_selection #picker_repeat #picker_repeat_input, .event_modal .repeat_selection #picker_repeat .material-icons {
  color: #BDBDBD;
  cursor: pointer;
}
.event_modal .repeat_selection #info_repeat_event {
  color: #BDBDBD;
  margin: 5px 15px;
  font-size: 0.8em;
  text-align: center;
}
.event_modal .repeat_selection #info_repeat_event:before {
  content: "*";
}
.event_modal .repeat_selection #day_month_select {
  transition: opacity 0.2s linear 0.4s;
  opacity: 0;
  display: none;
}
.event_modal .repeat_selection #day_month_select.active {
  opacity: 1;
}
.event_modal .repeat_selection #day_month_select td.day_month_table {
  text-align: center;
  cursor: pointer;
}
.event_modal .repeat_selection #day_month_select td.day_month_table:hover {
  background-color: #B2DFDB;
}
.event_modal .repeat_selection #day_month_select td.day_month_table.selected {
  background-color: #00796B;
  color: white;
}
.event_modal .repeat_selection #day_month_select td.day_month_table.selected:hover {
  background-color: #00796B;
}
.event_modal .repeat_selection #day_repeat {
  transition: opacity 0.2s linear 0.4s;
  opacity: 0;
  display: none;
}
.event_modal .repeat_selection #day_repeat.active {
  opacity: 1;
}
.event_modal .repeat_selection #day_repeat .col {
  border: solid 1px #009688;
  border-right: none;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
.event_modal .repeat_selection #day_repeat .col:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.event_modal .repeat_selection #day_repeat .col:last-child {
  border-right: solid 1px #009688;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.event_modal .repeat_selection #day_repeat .col.selected {
  background-color: #009688;
  color: white;
}
.event_modal .repeat_selection #day_repeat .col.selected:hover {
  background-color: #009688;
}
.event_modal .repeat_selection #day_repeat .col:hover {
  background-color: #B2DFDB;
}

/*------------------------------------------------------------
  ---------------------- GENERAL -----------------------
------------------------------------------------------------*/
.ppns-main {
  font-family: Raleway, sans-serif;
}

.ppns-cal__row {
  display: flex;
  position: relative;
}

.ppns-cal__cell, .ppns-cal__col {
  width: calc(100% / 7);
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 0.8em;
  margin: 0 5px;
  display: flex;
}
.ppns-cal__cell.head, .ppns-cal__col.head {
  text-transform: uppercase;
  color: #757575;
  border-bottom: solid 0.9px #BDBDBD;
}
.ppns-cal__cell.head.today, .ppns-cal__cell.head.active, .ppns-cal__col.head.today, .ppns-cal__col.head.active {
  color: black;
}

/*------------------------------------------------------------
  ---------------------- CABECERA -----------------------
------------------------------------------------------------*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 2px;
  height: 30px;
  flex-wrap: wrap;
}
.wrapper:not(.main) {
  margin-bottom: 10px;
}
.wrapper.main {
  height: 60px;
  top: -10px;
  z-index: 2;
  background-color: white;
  position: sticky;
}
@media only screen and (min-device-width:320px) and (max-width:750px) {
  .wrapper.main {
    top: 0;
    height: 30px;
    font-size: 0.8em;
  }
}
.wrapper.main .header_info {
  position: absolute;
  left: 0;
  text-transform: uppercase;
}
@media only screen and (min-device-width:320px) and (max-width:750px) {
  .wrapper.main .header_info {
    left: unset;
  }
}
.wrapper.main .ppns_sel_view {
  position: absolute;
  right: 0;
  display: flex;
  margin-right: 100px;
}
@media only screen and (min-device-width:320px) and (max-width:750px) {
  .wrapper.main .ppns_sel_view {
    display: none;
  }
}
.wrapper.main .ppns_sel_view .sel_view {
  width: 100px;
  display: block;
  text-align: center;
  color: #c0c8da;
  cursor: pointer;
}
.wrapper.main .ppns_sel_view .sel_view:hover {
  color: #00796B;
}
.wrapper.main .ppns_sel_view .sel_view.active {
  border-bottom: solid 2px #00796B;
  font-weight: bold;
  color: #00796B;
}
.wrapper.main .ppns_today {
  position: absolute;
  right: 0;
  border: solid 1px #00796B;
  padding: 2px 5px;
}
.wrapper.main .ppns_today:hover {
  color: white;
  background-color: #00796B;
  cursor: pointer;
}
@media only screen and (min-device-width:320px) and (max-width:750px) {
  .wrapper.main .ppns_today {
    border: none;
    right: 5px;
  }
}
.wrapper .month_year {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 75%;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
}
.wrapper .month_year .material-icons {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: #00796b;
  transform: translateY(-50%);
}
.wrapper .month_year .material-icons:hover:before {
  opacity: 0.08;
  transform: scale(1.1);
  background-color: #004c40;
}
.wrapper .month_year .material-icons.prev {
  left: 0;
}
.wrapper .month_year .material-icons.next {
  right: 0;
}
.wrapper .month_year .material-icons:after {
  background-color: #004c40;
  opacity: 0.2;
  transform: scale(1.1);
}
.wrapper .month_year .ppns_month .month {
  width: 100%;
  display: block;
  line-height: 25px;
  text-align: center;
}
.wrapper .month_year .year {
  padding: 0 25px;
}

/*------------------------------------------------------------
  ---------------------- VISTA DEl MES -----------------------
------------------------------------------------------------*/
.monthView .ppns-cal__row {
  border-bottom: none;
  height: 30px;
}
.monthView .ppns-cal__row:first-child {
  height: 20px;
}
.monthView .ppns-cal__row .ppns-cal__cell.day.old {
  color: #BDBDBD;
}
.monthView .ppns-cal__row .ppns-cal__cell.today span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1.5px #00796b;
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.monthView .ppns-cal__row .ppns-cal__cell:hover span:after {
  opacity: 0.16;
  transform: scale(1.1);
}
.monthView .ppns-cal__row .ppns-cal__cell.active {
  color: white;
}
.monthView .ppns-cal__row .ppns-cal__cell.active span:after {
  opacity: 0.9;
  z-index: -1;
  transform: scale(1.1);
}
.monthView .ppns-cal__row .ppns-cal__cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  transform: translate(-50%, -50%);
  line-height: 25px;
  font-family: Roboto, sans-serif;
}
.monthView .ppns-cal__row .ppns-cal__cell span:after {
  content: "";
  background-color: #004c40;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: scale(0);
}
.monthView .ppns-cal__row.main {
  height: 100px;
}
.monthView .ppns-cal__row.main:first-child {
  height: 50px;
}
.monthView .ppns-cal__row.main .ppns-cal__cell {
  border-bottom: solid 0.9px #BDBDBD;
}
.monthView .ppns-cal__row.main .ppns-cal__cell.day.main span {
  top: 25%;
  left: 15%;
}
.monthView .ppns-cal__row.main .ppns-cal__cell.day.main span:after {
  content: none;
}

.month_events {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 40px;
}
.month_events .event {
  padding: 0 6px;
  white-space: nowrap;
  margin-bottom: 2px;
}
.month_events .more_events {
  cursor: default;
}

/*-----------------------------------------------------------------
  ---------------------- VISTA DE LA SEMANA -----------------------
-------------------------------------------------------------------*/
.weekView .ppns-cal__cell, .weekView .ppns-cal__col {
  min-width: calc(100% / 8 - 10px);
}
.weekView .weekView_body {
  z-index: 1;
}
.weekView .ppns-cal__row {
  height: 60px;
}
.weekView .ppns-cal__row:not(:first-child) {
  border-top: solid 1px #BDBDBD;
}
.weekView .ppns-cal__row.head {
  position: sticky;
  top: 50px;
  background-color: white;
  z-index: 4;
  height: 35px;
}
@media only screen and (min-device-width:320px) and (max-width:750px) {
  .weekView .ppns-cal__row.head {
    top: 30px;
    font-size: 0.7em;
  }
}
.weekView .ppns-cal__row.older {
  background-color: #fafafa;
}
.weekView .ppns-cal__row.now {
  border-top: solid 2px #00796B;
}
.weekView .ppns-cal__col span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: Roboto, sans-serif;
}
.weekView .ppns-cal__cell.hour_info_cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.weekView .ppns-cal__cell.selected {
  background-color: #b2dfdb78;
}
.weekView .ppns-cal__cell .event {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}
.weekView .ppns-cal__cell .event.top-0 {
  top: 0%;
}
.weekView .ppns-cal__cell .event.h-0 {
  height: 0px;
}
.weekView .ppns-cal__cell .event.top-1 {
  top: 1%;
}
.weekView .ppns-cal__cell .event.h-1 {
  height: 50px;
}
.weekView .ppns-cal__cell .event.top-2 {
  top: 2%;
}
.weekView .ppns-cal__cell .event.h-2 {
  height: 100px;
}
.weekView .ppns-cal__cell .event.top-3 {
  top: 3%;
}
.weekView .ppns-cal__cell .event.h-3 {
  height: 150px;
}
.weekView .ppns-cal__cell .event.top-4 {
  top: 4%;
}
.weekView .ppns-cal__cell .event.h-4 {
  height: 200px;
}
.weekView .ppns-cal__cell .event.top-5 {
  top: 5%;
}
.weekView .ppns-cal__cell .event.h-5 {
  height: 250px;
}
.weekView .ppns-cal__cell .event.top-6 {
  top: 6%;
}
.weekView .ppns-cal__cell .event.h-6 {
  height: 300px;
}
.weekView .ppns-cal__cell .event.top-7 {
  top: 7%;
}
.weekView .ppns-cal__cell .event.h-7 {
  height: 350px;
}
.weekView .ppns-cal__cell .event.top-8 {
  top: 8%;
}
.weekView .ppns-cal__cell .event.h-8 {
  height: 400px;
}
.weekView .ppns-cal__cell .event.top-9 {
  top: 9%;
}
.weekView .ppns-cal__cell .event.h-9 {
  height: 450px;
}
.weekView .ppns-cal__cell .event.top-10 {
  top: 10%;
}
.weekView .ppns-cal__cell .event.h-10 {
  height: 500px;
}
.weekView .ppns-cal__cell .event.top-11 {
  top: 11%;
}
.weekView .ppns-cal__cell .event.h-11 {
  height: 550px;
}
.weekView .ppns-cal__cell .event.top-12 {
  top: 12%;
}
.weekView .ppns-cal__cell .event.h-12 {
  height: 600px;
}
.weekView .ppns-cal__cell .event.top-13 {
  top: 13%;
}
.weekView .ppns-cal__cell .event.h-13 {
  height: 650px;
}
.weekView .ppns-cal__cell .event.top-14 {
  top: 14%;
}
.weekView .ppns-cal__cell .event.h-14 {
  height: 700px;
}
.weekView .ppns-cal__cell .event.top-15 {
  top: 15%;
}
.weekView .ppns-cal__cell .event.h-15 {
  height: 750px;
}
.weekView .ppns-cal__cell .event.top-16 {
  top: 16%;
}
.weekView .ppns-cal__cell .event.h-16 {
  height: 800px;
}
.weekView .ppns-cal__cell .event.top-17 {
  top: 17%;
}
.weekView .ppns-cal__cell .event.h-17 {
  height: 850px;
}
.weekView .ppns-cal__cell .event.top-18 {
  top: 18%;
}
.weekView .ppns-cal__cell .event.h-18 {
  height: 900px;
}
.weekView .ppns-cal__cell .event.top-19 {
  top: 19%;
}
.weekView .ppns-cal__cell .event.h-19 {
  height: 950px;
}
.weekView .ppns-cal__cell .event.top-20 {
  top: 20%;
}
.weekView .ppns-cal__cell .event.h-20 {
  height: 1000px;
}
.weekView .ppns-cal__cell .event.top-21 {
  top: 21%;
}
.weekView .ppns-cal__cell .event.h-21 {
  height: 1050px;
}
.weekView .ppns-cal__cell .event.top-22 {
  top: 22%;
}
.weekView .ppns-cal__cell .event.h-22 {
  height: 1100px;
}
.weekView .ppns-cal__cell .event.top-23 {
  top: 23%;
}
.weekView .ppns-cal__cell .event.h-23 {
  height: 1150px;
}
.weekView .ppns-cal__cell .event.top-24 {
  top: 24%;
}
.weekView .ppns-cal__cell .event.h-24 {
  height: 1200px;
}
.weekView .ppns-cal__cell .event.top-25 {
  top: 25%;
}
.weekView .ppns-cal__cell .event.h-25 {
  height: 1250px;
}
.weekView .ppns-cal__cell .event.top-26 {
  top: 26%;
}
.weekView .ppns-cal__cell .event.h-26 {
  height: 1300px;
}
.weekView .ppns-cal__cell .event.top-27 {
  top: 27%;
}
.weekView .ppns-cal__cell .event.h-27 {
  height: 1350px;
}
.weekView .ppns-cal__cell .event.top-28 {
  top: 28%;
}
.weekView .ppns-cal__cell .event.h-28 {
  height: 1400px;
}
.weekView .ppns-cal__cell .event.top-29 {
  top: 29%;
}
.weekView .ppns-cal__cell .event.h-29 {
  height: 1450px;
}
.weekView .ppns-cal__cell .event.top-30 {
  top: 30%;
}
.weekView .ppns-cal__cell .event.h-30 {
  height: 1500px;
}
.weekView .ppns-cal__cell .event.top-31 {
  top: 31%;
}
.weekView .ppns-cal__cell .event.h-31 {
  height: 1550px;
}
.weekView .ppns-cal__cell .event.top-32 {
  top: 32%;
}
.weekView .ppns-cal__cell .event.h-32 {
  height: 1600px;
}
.weekView .ppns-cal__cell .event.top-33 {
  top: 33%;
}
.weekView .ppns-cal__cell .event.h-33 {
  height: 1650px;
}
.weekView .ppns-cal__cell .event.top-34 {
  top: 34%;
}
.weekView .ppns-cal__cell .event.h-34 {
  height: 1700px;
}
.weekView .ppns-cal__cell .event.top-35 {
  top: 35%;
}
.weekView .ppns-cal__cell .event.h-35 {
  height: 1750px;
}
.weekView .ppns-cal__cell .event.top-36 {
  top: 36%;
}
.weekView .ppns-cal__cell .event.h-36 {
  height: 1800px;
}
.weekView .ppns-cal__cell .event.top-37 {
  top: 37%;
}
.weekView .ppns-cal__cell .event.h-37 {
  height: 1850px;
}
.weekView .ppns-cal__cell .event.top-38 {
  top: 38%;
}
.weekView .ppns-cal__cell .event.h-38 {
  height: 1900px;
}
.weekView .ppns-cal__cell .event.top-39 {
  top: 39%;
}
.weekView .ppns-cal__cell .event.h-39 {
  height: 1950px;
}
.weekView .ppns-cal__cell .event.top-40 {
  top: 40%;
}
.weekView .ppns-cal__cell .event.h-40 {
  height: 2000px;
}
.weekView .ppns-cal__cell .event.top-41 {
  top: 41%;
}
.weekView .ppns-cal__cell .event.h-41 {
  height: 2050px;
}
.weekView .ppns-cal__cell .event.top-42 {
  top: 42%;
}
.weekView .ppns-cal__cell .event.h-42 {
  height: 2100px;
}
.weekView .ppns-cal__cell .event.top-43 {
  top: 43%;
}
.weekView .ppns-cal__cell .event.h-43 {
  height: 2150px;
}
.weekView .ppns-cal__cell .event.top-44 {
  top: 44%;
}
.weekView .ppns-cal__cell .event.h-44 {
  height: 2200px;
}
.weekView .ppns-cal__cell .event.top-45 {
  top: 45%;
}
.weekView .ppns-cal__cell .event.h-45 {
  height: 2250px;
}
.weekView .ppns-cal__cell .event.top-46 {
  top: 46%;
}
.weekView .ppns-cal__cell .event.h-46 {
  height: 2300px;
}
.weekView .ppns-cal__cell .event.top-47 {
  top: 47%;
}
.weekView .ppns-cal__cell .event.h-47 {
  height: 2350px;
}
.weekView .ppns-cal__cell .event.top-48 {
  top: 48%;
}
.weekView .ppns-cal__cell .event.h-48 {
  height: 2400px;
}
.weekView .ppns-cal__cell .event.top-49 {
  top: 49%;
}
.weekView .ppns-cal__cell .event.h-49 {
  height: 2450px;
}
.weekView .ppns-cal__cell .event.top-50 {
  top: 50%;
}
.weekView .ppns-cal__cell .event.h-50 {
  height: 2500px;
}
.weekView .ppns-cal__cell .event.top-51 {
  top: 51%;
}
.weekView .ppns-cal__cell .event.h-51 {
  height: 2550px;
}
.weekView .ppns-cal__cell .event.top-52 {
  top: 52%;
}
.weekView .ppns-cal__cell .event.h-52 {
  height: 2600px;
}
.weekView .ppns-cal__cell .event.top-53 {
  top: 53%;
}
.weekView .ppns-cal__cell .event.h-53 {
  height: 2650px;
}
.weekView .ppns-cal__cell .event.top-54 {
  top: 54%;
}
.weekView .ppns-cal__cell .event.h-54 {
  height: 2700px;
}
.weekView .ppns-cal__cell .event.top-55 {
  top: 55%;
}
.weekView .ppns-cal__cell .event.h-55 {
  height: 2750px;
}
.weekView .ppns-cal__cell .event.top-56 {
  top: 56%;
}
.weekView .ppns-cal__cell .event.h-56 {
  height: 2800px;
}
.weekView .ppns-cal__cell .event.top-57 {
  top: 57%;
}
.weekView .ppns-cal__cell .event.h-57 {
  height: 2850px;
}
.weekView .ppns-cal__cell .event.top-58 {
  top: 58%;
}
.weekView .ppns-cal__cell .event.h-58 {
  height: 2900px;
}
.weekView .ppns-cal__cell .event.top-59 {
  top: 59%;
}
.weekView .ppns-cal__cell .event.h-59 {
  height: 2950px;
}
.weekView .ppns-cal__cell .event.top-60 {
  top: 60%;
}
.weekView .ppns-cal__cell .event.h-60 {
  height: 3000px;
}
.weekView .ppns-cal__cell .event.top-61 {
  top: 61%;
}
.weekView .ppns-cal__cell .event.h-61 {
  height: 3050px;
}
.weekView .ppns-cal__cell .event.top-62 {
  top: 62%;
}
.weekView .ppns-cal__cell .event.h-62 {
  height: 3100px;
}
.weekView .ppns-cal__cell .event.top-63 {
  top: 63%;
}
.weekView .ppns-cal__cell .event.h-63 {
  height: 3150px;
}
.weekView .ppns-cal__cell .event.top-64 {
  top: 64%;
}
.weekView .ppns-cal__cell .event.h-64 {
  height: 3200px;
}
.weekView .ppns-cal__cell .event.top-65 {
  top: 65%;
}
.weekView .ppns-cal__cell .event.h-65 {
  height: 3250px;
}
.weekView .ppns-cal__cell .event.top-66 {
  top: 66%;
}
.weekView .ppns-cal__cell .event.h-66 {
  height: 3300px;
}
.weekView .ppns-cal__cell .event.top-67 {
  top: 67%;
}
.weekView .ppns-cal__cell .event.h-67 {
  height: 3350px;
}
.weekView .ppns-cal__cell .event.top-68 {
  top: 68%;
}
.weekView .ppns-cal__cell .event.h-68 {
  height: 3400px;
}
.weekView .ppns-cal__cell .event.top-69 {
  top: 69%;
}
.weekView .ppns-cal__cell .event.h-69 {
  height: 3450px;
}
.weekView .ppns-cal__cell .event.top-70 {
  top: 70%;
}
.weekView .ppns-cal__cell .event.h-70 {
  height: 3500px;
}
.weekView .ppns-cal__cell .event.top-71 {
  top: 71%;
}
.weekView .ppns-cal__cell .event.h-71 {
  height: 3550px;
}
.weekView .ppns-cal__cell .event.top-72 {
  top: 72%;
}
.weekView .ppns-cal__cell .event.h-72 {
  height: 3600px;
}
.weekView .ppns-cal__cell .event.top-73 {
  top: 73%;
}
.weekView .ppns-cal__cell .event.h-73 {
  height: 3650px;
}
.weekView .ppns-cal__cell .event.top-74 {
  top: 74%;
}
.weekView .ppns-cal__cell .event.h-74 {
  height: 3700px;
}
.weekView .ppns-cal__cell .event.top-75 {
  top: 75%;
}
.weekView .ppns-cal__cell .event.h-75 {
  height: 3750px;
}
.weekView .ppns-cal__cell .event.top-76 {
  top: 76%;
}
.weekView .ppns-cal__cell .event.h-76 {
  height: 3800px;
}
.weekView .ppns-cal__cell .event.top-77 {
  top: 77%;
}
.weekView .ppns-cal__cell .event.h-77 {
  height: 3850px;
}
.weekView .ppns-cal__cell .event.top-78 {
  top: 78%;
}
.weekView .ppns-cal__cell .event.h-78 {
  height: 3900px;
}
.weekView .ppns-cal__cell .event.top-79 {
  top: 79%;
}
.weekView .ppns-cal__cell .event.h-79 {
  height: 3950px;
}
.weekView .ppns-cal__cell .event.top-80 {
  top: 80%;
}
.weekView .ppns-cal__cell .event.h-80 {
  height: 4000px;
}
.weekView .ppns-cal__cell .event.top-81 {
  top: 81%;
}
.weekView .ppns-cal__cell .event.h-81 {
  height: 4050px;
}
.weekView .ppns-cal__cell .event.top-82 {
  top: 82%;
}
.weekView .ppns-cal__cell .event.h-82 {
  height: 4100px;
}
.weekView .ppns-cal__cell .event.top-83 {
  top: 83%;
}
.weekView .ppns-cal__cell .event.h-83 {
  height: 4150px;
}
.weekView .ppns-cal__cell .event.top-84 {
  top: 84%;
}
.weekView .ppns-cal__cell .event.h-84 {
  height: 4200px;
}
.weekView .ppns-cal__cell .event.top-85 {
  top: 85%;
}
.weekView .ppns-cal__cell .event.h-85 {
  height: 4250px;
}
.weekView .ppns-cal__cell .event.top-86 {
  top: 86%;
}
.weekView .ppns-cal__cell .event.h-86 {
  height: 4300px;
}
.weekView .ppns-cal__cell .event.top-87 {
  top: 87%;
}
.weekView .ppns-cal__cell .event.h-87 {
  height: 4350px;
}
.weekView .ppns-cal__cell .event.top-88 {
  top: 88%;
}
.weekView .ppns-cal__cell .event.h-88 {
  height: 4400px;
}
.weekView .ppns-cal__cell .event.top-89 {
  top: 89%;
}
.weekView .ppns-cal__cell .event.h-89 {
  height: 4450px;
}
.weekView .ppns-cal__cell .event.top-90 {
  top: 90%;
}
.weekView .ppns-cal__cell .event.h-90 {
  height: 4500px;
}
.weekView .ppns-cal__cell .event.top-91 {
  top: 91%;
}
.weekView .ppns-cal__cell .event.h-91 {
  height: 4550px;
}
.weekView .ppns-cal__cell .event.top-92 {
  top: 92%;
}
.weekView .ppns-cal__cell .event.h-92 {
  height: 4600px;
}
.weekView .ppns-cal__cell .event.top-93 {
  top: 93%;
}
.weekView .ppns-cal__cell .event.h-93 {
  height: 4650px;
}
.weekView .ppns-cal__cell .event.top-94 {
  top: 94%;
}
.weekView .ppns-cal__cell .event.h-94 {
  height: 4700px;
}
.weekView .ppns-cal__cell .event.top-95 {
  top: 95%;
}
.weekView .ppns-cal__cell .event.h-95 {
  height: 4750px;
}
.weekView .ppns-cal__cell .event.top-96 {
  top: 96%;
}
.weekView .ppns-cal__cell .event.h-96 {
  height: 4800px;
}
.weekView .ppns-cal__cell .event.top-97 {
  top: 97%;
}
.weekView .ppns-cal__cell .event.h-97 {
  height: 4850px;
}
.weekView .ppns-cal__cell .event.top-98 {
  top: 98%;
}
.weekView .ppns-cal__cell .event.h-98 {
  height: 4900px;
}
.weekView .ppns-cal__cell .event.top-99 {
  top: 99%;
}
.weekView .ppns-cal__cell .event.h-99 {
  height: 4950px;
}
.weekView .ppns-cal__cell .event.top-100 {
  top: 100%;
}
.weekView .ppns-cal__cell .event.h-100 {
  height: 5000px;
}

/*------------------------------------------------------------
  ---------------------- VISTA DEl DIA -----------------------
------------------------------------------------------------*/
/*------------------------------------------------------------
  ---------------------- VISTA DEl AÑO -----------------------
------------------------------------------------------------*/
.yearView {
  margin-top: 10px;
}

.yearView_body {
  display: flex;
  flex-wrap: wrap;
}
.yearView_body .ppns-cal_row {
  margin: 15px 0;
}
@media only screen and (max-width:1024px) {
  .yearView_body .ppns-cal_row {
    margin: 10px 0;
  }
  .yearView_body .ppns-cal_row .ppns-cal__cell {
    font-size: 0.7em;
  }
}
.yearView_body .ppns-cal_row .ppns-cal_cell {
  text-align: center;
  border-right: solid 1px #BDBDBD;
  color: #bfbebe;
  text-transform: uppercase;
  font-size: 0.8em;
}
.yearView_body .ppns-cal_row .ppns-cal_cell:first-child {
  border-left: solid 1px #BDBDBD;
}
.yearView_body .ppns-cal_row .ppns-cal_cell.active {
  color: black;
}
.yearView_body .ppns-cal_row .ppns-cal_cell span {
  cursor: pointer;
}

/*------------------------------------------------------------
  ---------------------- EVENTO EN GENERAL -----------------------
------------------------------------------------------------*/
.today_event {
  position: relative;
  height: 40px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.event {
  position: relative;
}
.event:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.3;
}
.event:after {
  position: absolute;
  content: attr(data-title);
  width: 100%;
  height: 100%;
  color: black;
  left: 0;
  font-weight: bold;
  font-size: 1.1em;
}

/*# sourceMappingURL=calendar.css.map */
