@import 'SASS/_variables';
.login-bck{
  background:$imagen-inicio-fondo no-repeat center;
  height:100%;
  width:100%;
  background-size: cover;
  position:fixed;
}
.seccion-inicial{
  transform:scale(0);
  text-align:center;
  transition: transform 1s;
}
.seccion-inicial.animate{
  transform:scale(1);
}
.welcome-form-container{
  position:absolute;
  .form-panel{
    display:none;
  }
}
.login-container{
   height:100%;
}
.club-register-form{
  text-align:left;
}