@charset "UTF-8";
//Plantillas propias
@import 'SASS/layout';
@import 'SASS/formulario';
@import 'SASS/modal';
//MATERIALIZE
// Color
@import "materialize/components/color-variables";
@import "materialize/components/color-classes";
@import 'materialize/components/variables';
// Reset
@import "materialize/components/normalize";
@import "materialize/components/global";
@import 'materialize/components/waves';
@import 'materialize/components/buttons';
@import 'materialize/components/tabs';
@import "materialize/components/dropdown";
@import 'materialize/components/forms/forms';
@import 'materialize/components/forms/input-fields';
@import 'materialize/components/forms/select';

/*---LOGO_CARGA---*/
.loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color:rgb(249,249,249);
  display:flex;
  align-items:center;
  justify-content: center;
}
.icono-loader{
  animation:rotar 1s infinite;
  width:13em;
}

/*------ CLASES GLOBALES ------*/

.modal-content{
  border:none;
  border-radius:0;
  box-shadow:0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.main-content{
  overflow:auto;
}
.section{
  display:none;
}
.divider{
  border-bottom:1.5px solid $divider-color;
  margin:25px;
}
.info-divider{
  border-bottom:1.5px solid $divider-color;
  margin:10px 40px;
}
.icono-accion{
  cursor:pointer;
}
.icon{
  cursor:pointer;
}
.js-tooltip{
  background-color: #004c40;
  color:white;
  border-radius:2px;
  padding:0 8px;
  height:25px;
  z-index:3;
  transform:scale(0);
  position:absolute;
  font-size:10px;
  line-height:25px;
  transform-origin:top center;
  margin-left:-8px;
  &.active{
    animation:pulse .2s cubic-bezier(0,0,.2,1) forwards;
  }
}

.material-icons {
  &:before, &:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 225ms cubic-bezier(.4, 0, .2, 1), opacity 75ms linear;
    transform-origin: center center;
    transform: scale(0);
  }
}
.panel{
  background-color:#fafafa;
  border-radius:.3rem;
  padding:15px;
  box-shadow:-5px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.border-secundario{border:1px solid $light-primary-color}

.logout{cursor:pointer;}
.dropdown-menu{padding:25px;}

.group-around{
  display:flex;
  justify-content: space-around;
  @media(min-width:576px) and (max-width:768px){
    flex-direction:column;
    & .btn{
      margin-bottom:5px;
    }
  }
}

/*--- Materialize Custom ---*/
.select-wrapper li:not(.disabled) span{
  text-transform: uppercase
}

.tabs{
  a{
    text-decoration: none;
  }
  .indicator{
    background-color: $dark-primary-color;
  }
}

/*----BOTONES-----*/

.btn-principal{
  background-color:$color-resaltado;
  color:$texto;
  &:hover{
    background-color:$dark-color-resaltado;
  }
}
.btn-primary-color{
  background-color:$primary-color;
  color:$texto;
  &:hover{
    background-color:$dark-primary-color;
  }
}
.btn-clarito{
  background-color:$light-primary-color;
  color:$texto;
  &[type='submit']:hover {
    transform: scale(1.1);
  }
}
.btn,button{
  &.outline{
    border:solid 1px $color-resaltado;
    background-color:transparent;
    color:$color-resaltado;
    &:hover{
      background-color:$color-resaltado;
      color:white;
    }
  }
  &:focus{box-shadow: none;outline: none}
}
.btn-50{ width:50%;  }
.btn-100{ width:100%; }

.btn-form{
  color:$texto;
  font-size:1.2em;
}
.btn-cancel{
  background-color:$cancel-color;
}
.btn-save{
  background:$primary-color;
}
.btn-shadow{
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
/*---- ANIMACIONES ---*/
@keyframes pulse{
  0%{
    opacity:0;
    transform:scale(.5);
  }
  50%{
    transform:scale(.99)
  }
  100%{
    opacity:1;
    transform:scale(1);
    visibility:visible;
  }
}
@keyframes radius-in{
  from{
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    transform:scale(1);
  }
  to{
    transform:scale(1);
  }
}

@keyframes rotar {
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}

@keyframes pulseOut{
  0%{
    opacity:1;
    transform:scale(1);
  }
  50%{
    transform:scale(.99);
  }
  100%{
    opacity:0;
    transform:scale(.5);
    visibility:hidden;
  }
}
