html, body {
  font-family: Roboto, cursive;
  color: #212121;
  height: 100%;
  overflow: scroll;
  background-color: #fafafa;
}

/*--- CABECERA ---*/
.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: -3px 6px 10px -10px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  padding: 0 40px;
  border-bottom: solid 0.9px #BDBDBD;
  margin: 0;
}
.header .header_link {
  cursor: pointer;
}
.header .header_link.item {
  font-family: "Raleway", sans-serif;
  color: #c0c8da;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .header .header_link.item {
    font-size: 0.9em;
  }
}
.header .header_link.item:hover {
  color: #00796b;
}
.header .header_link.item:first-child {
  margin-left: 6px;
}
.header .header_link.item.active {
  color: #00796b;
  font-weight: bold;
}
.header .header_link.item.active:after {
  width: 100%;
}
.header .header_link.item:after {
  content: "";
  display: inline-flex;
  background-color: #00796b;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.5, 1);
}
.header .header_link.icon {
  font-size: 25px;
  color: #00796b;
  line-height: 25px;
  position: relative;
}
.header .header_link.icon:hover .material-icons:before {
  opacity: 0.4;
  transform: scale(1.3);
  background-color: #004c40;
}
.header .header_link.icon:hover ~ .js-tooltip {
  animation: pulse 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
}
.header .header_link.icon.active .material-icons:after {
  opacity: 0.16;
  transform: scale(1.3);
  background-color: #004c40;
}
.header .header_link.icon .material-icons {
  position: relative;
}
.header img {
  height: 90%;
  margin-right: 40px;
}
@media only screen and (max-width:758px) {
  .header {
    height: 50px;
    top: unset;
    bottom: 0;
    padding: 0;
    box-shadow: 0 -5px 25px -8px rgba(0, 0, 0, 0.75);
  }
  .header .header_link#home_link img {
    height: 70%;
  }
  .header .header_link img {
    height: 55%;
    margin: 0;
    margin-left: 1px;
  }
}
@media only screen and (min-width:992px) {
  .header .header_link.item:first-child {
    margin-left: 6px;
  }
}

/*--- CONTENIDO ---*/
.main_content {
  padding-top: 100px;
}
@media only screen and (max-width:758px) {
  .main_content {
    padding-top: 10px;
  }
}

.main_panel {
  border-radius: 10px;
  padding: 0 20px 20px;
  -webkit-box-shadow: 2px 7px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
  max-height: calc(100vh - 150px);
  overflow: scroll;
}
@media only screen and (max-width:758px) {
  .main_panel {
    box-shadow: none;
    background-color: #fafafa;
    padding: 0;
  }
}

.main_section {
  position: absolute;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(1, 0.2, 0.01, 1.15);
  background-color: #fafafa;
  margin: 0 -15px;
  height: calc(100% - 100px);
}
.main_section.active {
  transform: translate(0, 0);
}

/*--- MENU ---*/
.panel-fondo {
  position: fixed;
  background-color: white;
  height: 20px;
  width: 20px;
  display: none;
  left: 100%;
  z-index: 9998;
}

.icon-menu {
  font-size: 3.3em;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px !important;
}

.menu-container {
  height: 100%;
}

/*----- FORMULARIOS -----*/
.form-panel {
  background-color: white;
  border: 1.5px solid #00796B;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}
.form-panel.partido {
  border: none;
}

.formulario-contenido {
  padding-top: 1em;
}

.form-title {
  border-bottom: solid 1px #00796B;
  text-align: center;
  padding: 0.5em 0 1em 0;
  margin: 0 2em;
}

.form-row.button-row {
  text-align: center;
}
.form-row.button-row div:first-child {
  margin-bottom: 5px;
}

.form-title > img {
  width: 5em;
}

.form-group input, .form-group select {
  border-color: #607D8B;
}
.form-group input.error, .form-group select.error {
  border-color: #c36868;
  box-shadow: 0 0 0 0.2remmist #884a4a;
}
.form-group input:focus, .form-group select:focus {
  border-color: #B2DFDB;
}
.form-group label {
  color: #212121;
}
.form-group label.error {
  color: red;
}
.form-group .btn-group {
  width: 100%;
}
.form-group .btn-group.btn-group-toggle {
  border-radius: 25px;
  border: 1px solid #009688;
}
.form-group .btn-group.btn-group-toggle .btn {
  border-radius: 25px;
}
.form-group .btn-group.btn-group-toggle .btn.active {
  background-color: #B2DFDB;
  color: white;
}
.form-group .btn-group .btn.focus, .form-group .btn-group .btn:focus {
  box-shadow: none;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.navegacion-menu {
  padding: 10px 20px 0 20px;
}
.navegacion-menu i {
  color: #00796B;
  font-size: 1em;
  cursor: pointer;
}
.navegacion-menu i.green {
  color: #009688;
}

.btn-end {
  border-radius: 5px;
  height: 100%;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.control-panel-icon {
  padding: 0 20px 0 20px;
}
.control-panel-icon i {
  color: white;
  font-size: 1.7em;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #607D8B;
}
.control-panel-icon i:hover {
  background-color: #425F6D;
}

/*------- MODAL ----*/
.modal-title {
  color: #009688;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.cuadro-action {
  width: 100%;
  border: 1.5px solid #00796B;
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: baseline;
}
.cuadro-action input {
  color: #B2DFDB;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
}
.cuadro-action input:focus {
  box-shadow: none;
  text-align: left;
}
.cuadro-action i {
  font-size: 1.2em;
  color: #009688;
  cursor: pointer;
  margin-right: 10px;
}

.add-more-action {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  color: #009688;
}
.add-more-action i {
  cursor: pointer;
}

.modal_footer_buttons {
  display: flex;
  justify-content: space-around;
}

/*---LOGO_CARGA---*/
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-loader {
  animation: rotar 1s infinite;
  width: 13em;
}

/*------ CLASES GLOBALES ------*/
.main-content {
  overflow: auto;
}

.section {
  display: none;
}

.divider {
  border-bottom: 1.5px solid #BDBDBD;
  margin: 25px;
}

.info-divider {
  border-bottom: 1.5px solid #BDBDBD;
  margin: 10px 40px;
}

.icono-accion {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.js-tooltip {
  background-color: #004c40;
  color: white;
  border-radius: 2px;
  padding: 0 8px;
  height: 25px;
  z-index: 3;
  transform: scale(0);
  position: absolute;
  font-size: 10px;
  line-height: 25px;
  transform-origin: top center;
  margin-left: -8px;
}
.js-tooltip.active {
  animation: pulse 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.material-icons:before, .material-icons:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1), opacity 75ms linear;
  transform-origin: center center;
  transform: scale(0);
}

.panel {
  background-color: #fafafa;
  border-radius: 0.3rem;
  padding: 15px;
  box-shadow: -5px 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.border-secundario {
  border: 1px solid #B2DFDB;
}

.logout {
  cursor: pointer;
}

.dropdown-menu {
  padding: 25px;
}

.group-around {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 576px) and (max-width: 768px) {
  .group-around {
    flex-direction: column;
  }
  .group-around .btn {
    margin-bottom: 5px;
  }
}

div.cs-select.cs-skin-underline {
  font-size: 1em;
}

/*----BOTONES-----*/
.btn-principal {
  background-color: #607D8B;
  color: white;
}
.btn-principal:hover {
  background-color: #425F6D;
}

.btn-primary-color {
  background-color: #009688;
  color: white;
}
.btn-primary-color:hover {
  background-color: #00796B;
}

.btn-clarito {
  background-color: #B2DFDB;
  color: white;
}
.btn-clarito[type=submit]:hover {
  transform: scale(1.1);
}

.btn.outline, button.outline {
  border: solid 1px #607D8B;
  background-color: transparent;
  color: #607D8B;
}
.btn.outline:hover, button.outline:hover {
  background-color: #607D8B;
  color: white;
}
.btn:focus, button:focus {
  box-shadow: none;
  outline: none;
}

.btn-50 {
  width: 50%;
}

.btn-100 {
  width: 100%;
}

.btn-form {
  color: white;
  font-size: 1.2em;
}

.btn-cancel {
  background-color: #c36868;
}
.btn-cancel:hover {
  background-color: #884a4a;
}

.btn-save {
  background: rgba(75, 159, 79, 0.88);
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  padding: 5px 10px;
}
.btn-save:hover {
  background-color: #3f8241;
}

.btn-shadow {
  box-shadow: 2px 8px 17px 0 rgba(0, 0, 0, 0.1);
}

/*---- ANIMACIONES ---*/
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes radius-in {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes rotar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulseOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
