html, body {
  font-family: "Gill Sans", sans-serif !important;
  color: #212121;
  height: 100%;
  overflow: scroll;
  background-color: #ebf5f4f2;
}

/*------ CLASES GLOBALES ------*/
.main-content {
  overflow: auto;
}

.section {
  display: none;
}

.divider {
  border-bottom: 1.5px solid #BDBDBD;
  margin: 25px;
}

.icono-accion {
  cursor: pointer;
}

.border-secundario {
  border: 1px solid #B2DFDB;
}

.logout {
  cursor: pointer;
}

.dropdown-menu {
  padding: 25px;
}

.group-around {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 576px) and (max-width: 768px) {
  .group-around {
    flex-direction: column;
  }
  .group-around .btn {
    margin-bottom: 5px;
  }
}

.panel-dbase {
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.51);
}
.panel-dbase.white {
  background-color: white;
}

/*----BOTONES-----*/
.btn-principal {
  background-color: #607D8B;
  color: white;
}
.btn-principal:hover {
  background-color: #425F6D;
}

.btn-primary-color {
  background-color: #009688;
  color: white;
}
.btn-primary-color:hover {
  background-color: #00796B;
}

.btn-clarito {
  background-color: #B2DFDB;
  color: white;
}
.btn-clarito[type=submit]:hover {
  transform: scale(1.1);
}

.btn.outline, button.outline {
  border: solid 1px #607D8B;
  background-color: transparent;
  color: #607D8B;
}
.btn.outline:hover, button.outline:hover {
  background-color: #607D8B;
  color: white;
}
.btn:focus, button:focus {
  box-shadow: none;
  outline: none;
}

.btn-50 {
  width: 50%;
}

.btn-100 {
  width: 100%;
}

.btn-form {
  color: white;
  font-size: 1.2em;
}

.btn-cancel {
  background-color: #c36868;
}
.btn-cancel:hover {
  background-color: #884a4a;
}

.btn-save {
  background: #009688;
}
.btn-save:hover {
  background-color: #00796B;
}

/*------- MODAL ----*/
.modal-title {
  color: #009688;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.cuadro-action {
  width: 100%;
  border: 1.5px solid #00796B;
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: baseline;
}
.cuadro-action input {
  color: #B2DFDB;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
}
.cuadro-action input:focus {
  box-shadow: none;
  text-align: left;
}
.cuadro-action i {
  font-size: 1.2em;
  color: #009688;
  cursor: pointer;
  margin-right: 10px;
}

.add-more-action {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  color: #009688;
}
.add-more-action i {
  cursor: pointer;
}

/*----------------------------------------------
------------------------ SECCIONES -----------------------
-------------------------------------------------*/
/*---CABECERA---*/
.header-first {
  height: 70px;
  background-color: #00796B;
}
.header-first .content {
  max-height: 100%;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
}
.header-first .content .icono-profile {
  width: 70px;
  display: flex;
  padding: 5px;
}
.header-first .content .icono-profile .user-icon {
  border-radius: 50%;
}
.header-first .content img.logo-cabecera {
  width: 4.4em;
  padding: 5px;
}

.header-second {
  height: 30px;
  background-color: #009688;
}
.header-second .content {
  height: 100%;
}
.header-second .content i.icono-navegacion-cabecera {
  font-size: 1.5em;
  color: #607D8B;
}

.icon-menu {
  font-size: 3.3em;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px !important;
}

.menu-container {
  height: 100%;
}

/*---LOGO_CARGA---*/
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-loader {
  animation: rotar 1s infinite;
  width: 13em;
}

/*------ ANIMACIONES -----*/
@keyframes rotar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----- FORMULARIOS -----*/
.form-panel {
  background-color: white;
  border: 1.5px solid #00796B;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}
.form-panel.partido {
  border: none;
}

.formulario-contenido {
  padding-top: 1em;
}

.form-title {
  border-bottom: solid 1px #00796B;
  text-align: center;
  padding: 0.5em 0 1em 0;
  margin: 0 2em;
}

.form-row.button-row {
  text-align: center;
}
.form-row.button-row div:first-child {
  margin-bottom: 5px;
}

.form-title > img {
  width: 5em;
}

.form-group input, .form-group select {
  border-color: #607D8B;
}
.form-group input.error, .form-group select.error {
  border-color: #c36868;
  box-shadow: 0 0 0 0.2remmist #884a4a;
}
.form-group input:focus, .form-group select:focus {
  border-color: #B2DFDB;
}
.form-group label {
  color: #212121;
}
.form-group label.error {
  color: red;
}
.form-group .btn-group {
  width: 100%;
}
.form-group .btn-group.btn-group-toggle {
  border-radius: 25px;
  border: 1px solid #009688;
}
.form-group .btn-group.btn-group-toggle .btn {
  border-radius: 25px;
}
.form-group .btn-group.btn-group-toggle .btn.active {
  background-color: #B2DFDB;
  color: white;
}
.form-group .btn-group .btn.focus, .form-group .btn-group .btn:focus {
  box-shadow: none;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.navegacion-menu {
  padding: 10px 20px 0 20px;
}
.navegacion-menu i {
  color: #00796B;
  font-size: 1em;
  cursor: pointer;
}
.navegacion-menu i.green {
  color: #009688;
}

.btn-end {
  border-radius: 5px;
  height: 100%;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.control-panel-icon {
  padding: 0 20px 0 20px;
}
.control-panel-icon i {
  color: white;
  font-size: 1.7em;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #607D8B;
}
.control-panel-icon i:hover {
  background-color: #425F6D;
}

/*# sourceMappingURL=main.css.map */
