@import 'SASS/herramienta';
@import 'SASS/alineacion';
@import 'SASS/equipo';
@import 'SASS/partido';

/*----- INICIO -----*/
.iconos-iniciales{
  z-index:9999;
  display:none;
  .iconoContent{
    margin:15px;
    &:hover{
      transform:scale(1.1);
    }
    .textoIcono{
      padding:5px;
      border-radius:5px;
      font-size:2em;
      color:$dark-color-resaltado;
      span{padding-left:10px;}
    }
  }
}

