.register-form-container {
  background-image: url('../imagenes/fondos/cesped.jpg');
  background-position: center;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-title{
  margin-bottom:1rem;
  font-family:Raleway, sans-serif;
  text-align:center;
  .title{
    font-weight:bold;
    font-size:1.7em;
  }
  .info{
    font-size:.8em;
  }
}

.buttons{
  text-align:center;
}

.checkmark__circle {
  stroke-dasharray: 150;
  stroke-width: 3;
  stroke-miterlimit: 10;
  fill: none;
  &.error{
    stroke:red;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1);
  }
  &.valid{
    stroke: #7ac142;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1);
  }
}

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 1rem auto;
  &.error{
    box-shadow: red inset 0 0 0;
    animation: fillred .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    .checkmark__icon.error{
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
  }
  &.valid{
    box-shadow: inset 0 0 0 #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    .checkmark__icon.valid{
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
  }
}
.checkmark__icon {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width:5px;
}

@keyframes stroke {
  0%{
    stroke-dashoffset:150;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 25px #7ac142;
  }
}
@keyframes fillred {
  100% {
    box-shadow: inset 0 0 0 25px red;
  }
}
