* {
    margin: 0;
    padding: 0;
}

body {
    background: #2E3740;
    color: #435160;
    /*font-family: "Open Sans", sans-serif;*/
}

h2 {
    color: #6D7781;
    font-size: 15px;
    font-weight: bold;
    /*font-size: 3.6em;*/
    text-align: center;
    margin-bottom: 20px;
}

.saForm {
    padding:20px;
}

input[type="text"]{
    width: 100%;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 16px;
}
div.cs-skin-underline{
    font-size: 16px;
    max-width: 100%;
}
.cs-skin-underline > span{
    padding:20px 0 20px;
    border-bottom:1px solid #435160;
    font-size:12px;
    font-weight: normal;
}
.cs-skin-underline > span::after{
    font-family:'icomoon';
    content:'\e003';
}
.cs-skin-underline .cs-options{
    background-color:#2E3740;
    color:#435160;
}
.cs-skin-underline ul span::before{
    background-color:#435160;
    height:1px;
}
label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #435160;
}

input[type="submit"] {
    background: #1FCE6D;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin:20px 0;
}
input[type="submit"]:hover {
    background: #16aa56;
    animation-name: shake;
}

::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
}



