.form-group-login{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
}

.form-group-login label{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.form-login input[type=text],input[type=password]{
    width: 460px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #b78d21;
    outline: none;
    color: #6D7781;
}

.btn-logger{
    width:460px;
    margin:20px 0;
    background-color:#162525;
}
.container-login{
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 280px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}
.banner-layer-login img{
    position: absolute;
    top: -170px;
    right: 600px;
    width: 52%;
}

