.event_modal{
  font-family:Raleway,sans-serif;
  width:30%;
  overflow-x:hidden;
  #row_categorie_event{
    margin-left:3rem;
    margin-top:-1rem;
    margin-bottom:2rem;
    font-size:.8em;
  }
  #add_categories_event{
    margin-right:1rem;
    border-radius:15px;
  }
  .event_categorie{
    border-radius:15px;
    padding:5px 10px;
    display:flex;
    align-items:center;
    &.selected{
      color:white;
      .material-icons{
        margin-left:5px;
        cursor:pointer;
        font-size:1.4em;
      }
    }
  }

  //Panel de categorias
  .categories_event_panel{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    z-index:-1;
    transition:transform .3s ease-out,z-index .1s linear .3s;
    transform:translate(-100%,0);
    &.active{
      transform:translate(0,0);
      z-index:2;
      transition:transform .3s cubic-bezier(0,0,.5,1);
      opacity:1;
    }
    .add_categorie_button{
      left:50%;
      transform:translate(-50%,0);
      border-radius:30px;
      margin-top:20px;
      position:absolute;
    }
    .panel-title{
      font-weight:bold;
      text-align:center;
    }
    .panel_body{
      opacity:0;
      display:none;
      &.active{
        opacity:1;
        display:block;
      }
    }
    .categorie{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:5px 10px;
      margin-right:5px;
      font-size:.8em;
      border-radius:15px;
      cursor:pointer;
      width:calc(50% - 5px);
      max-width:100%;
      transition:transform .3s,box-shadow .3s;
      color:white;
      margin-bottom:5px;
      &:hover{
        box-shadow: 1px 5px 17px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1.007);
      }
    }
    .edit_category{z-index:3;}
    #create_category{
      .title{
        font-size:.9em;
        font-weight:bold;
        &.error{
          color:red;
          &:after{
            content:'*';
            color:red;
          }
        }
      }
      .color_grid_selection{
        display:flex;
        flex-wrap: wrap;
        margin-top:2px;
        .color_selection{
          height:50px;
          width:50px;
          border-radius:5px;
          margin:0 3px 3px 0;
          cursor:pointer;
          position:relative;
          &:hover{
            opacity:.7;
          }
          .material-icons{
            position: absolute;
            left: 50%;
            top: 50%;
            color: white;
            transform: translate(-50%,-50%);
            font-size: 1.2em;
            opacity:0;
            transition:opacity .2s linear;
          }
          &.selected .material-icons{
            opacity:1;
          }
        }
      }
    }
  }

  //Panel de evento
  .repeat_event_panel{
    position:absolute;
    display:none;
    right:15px;
    bottom:15px;
    left:15px;
    top:15px;
    transform:translate(-25%,0);
    opacity:0;
    transition:transform .3s ease-out,opacity .15s linear;
    &.active{
      transform:translate(0,0);
      opacity:1;
    }
    .options_body{
      padding:25px 0;
      height:300px;
      .repeat_option{
        border-bottom: solid 1px #00796B;
        cursor: pointer;
        font-size: 0.9em;
        padding-left: 15px;
        height: calc(100% / 7);
        display: flex;
        align-items: center;
        &:hover{
          background-color:$light-primary-color;
        }
        &.selected{
          background-color:$dark-primary-color;
          color:white;
          &:hover{background-color:$dark-primary-color;}

        }
      }
    }
  }
  //Repeticion evento
  .repeat_selection{
    height:0;
    &.active{
      height:100%;
    }
    //Informacion de la repeticion
    #picker_repeat{
      border-bottom:solid 1px $divider-color;
      opacity:0;
      display:none;
      transition:opacity .2s linear .3s;
      height:25px;
      &.active{
        opacity:1;
      }
      #picker_repeat_input, .material-icons{
        color:$divider-color;
        cursor:pointer;
      }
    }
    #info_repeat_event{
      color:$divider-color;
      margin:5px 15px;
      font-size:.8em;
      text-align:center;
      &:before{
        content:'*';
      }
    }
    //Seleccionar dia del mes
    #day_month_select{
      transition:opacity .2s linear .4s;
      opacity:0;
      display:none;
      &.active{
        opacity:1;
      }
      td.day_month_table{
        text-align:center;
        cursor:pointer;
        &:hover{
          background-color:$light-primary-color;
        }
        &.selected{
          &:hover{
            background-color:$dark-primary-color;
          }
          background-color:$dark-primary-color;
          color:white;
        }
      }
    }
    //Seleccionar dia de la semana
    #day_repeat{
      transition:opacity .2s linear .4s;
      opacity:0;
      display:none;
      &.active{
        opacity:1;
      }
      .col{
        border:solid 1px $primary-color;
        border-right:none;
        height:35px;
        line-height: 35px;
        cursor:pointer;
        &:first-child{
          border-top-left-radius:4px;
          border-bottom-left-radius:4px;
        }
        &:last-child{
          border-right:solid 1px $primary-color;
          border-top-right-radius:4px;
          border-bottom-right-radius: 4px;
        }
        &.selected{
          background-color:$primary-color;
          color:white;
          &:hover{
            background-color:$primary-color;
          }
        }
        &:hover{
          background-color:$light-primary-color;
        }
      }
    }
  }

}
