@charset "UTF-8";
body {
  font-family: "Gill Sans", sans-serif !important;
  color: #212121;
}

/*---CABECERA---*/
.header-first {
  background-color: #388E3C;
  height: 70px;
}
.header-first .content {
  max-height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.header-first .content .icono-profile {
  width: 70px;
  display: flex;
  padding: 5px;
}
.header-first .content .icono-profile .user-icon {
  border-radius: 50%;
}
.header-first .content img.logo-cabecera {
  width: 4.4em;
  padding: 5px;
}

.header-second {
  background-color: #C8E6C9;
  height: 30px;
}
.header-second .content {
  height: 100%;
}
.header-second .content i.icono-navegacion-cabecera {
  font-size: 1.5em;
  color: #607D8B;
}

/*---LOGO_CARGA---*/
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-loader {
  animation: rotar 1s infinite;
  width: 13em;
}

/*------ ANIMACIONES -----*/
@keyframes rotar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---ESTILOS_GENERALES---*/
.icono-accion {
  cursor: pointer;
}

.border-secundario {
  border: 1px solid #C8E6C9;
}

.btn-principal {
  background-color: #607D8B;
  color: white;
}
.btn-principal:hover {
  transform: scale(1.1);
  background-color: #425F6D;
}

.btn-clarito {
  background-color: #C8E6C9;
  color: white;
}
.btn-clarito[type=submit]:hover {
  transform: scale(1.1);
}

.btn:focus, button:focus {
  box-shadow: none;
  outline: none;
}

.btn-50 {
  width: 50%;
}

.btn-100 {
  width: 100%;
}

.btn-form {
  color: white;
  font-size: 1.2em;
}

.btn-cancel {
  background-color: #c36868;
}
.btn-cancel:hover {
  background-color: #884a4a;
}

.btn-save {
  background: #4CAF50;
}
.btn-save:hover {
  background-color: #388E3C;
}

.group-around {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 576px) and (max-width: 768px) {
  .group-around {
    flex-direction: column;
  }
  .group-around .btn {
    margin-bottom: 5px;
  }
}

/*------- MODAL ----*/
.modal-title {
  color: #4CAF50;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.cuadro-action {
  width: 100%;
  border: 1.5px solid #388E3C;
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: baseline;
}
.cuadro-action input {
  color: #C8E6C9;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
}
.cuadro-action input:focus {
  box-shadow: none;
  text-align: left;
}
.cuadro-action i {
  font-size: 1.2em;
  color: #4CAF50;
  cursor: pointer;
  margin-right: 10px;
}

.add-more-action {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  color: #4CAF50;
}
.add-more-action i {
  cursor: pointer;
}

/*----- FORMULARIOS -----*/
.form-panel {
  background-color: white;
  margin-top: 50px;
  border: 1.5px solid #388E3C;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}

.formulario-contenido {
  padding-top: 1em;
}

.form-title {
  border-bottom: solid 1px #C8E6C9;
  text-align: center;
  padding: 0.5em 0 1em 0;
  margin: 0 2em;
}

.form-title > img {
  width: 5em;
}

.form-group input, .form-group select {
  border-color: #607D8B;
}
.form-group input:focus, .form-group select:focus {
  border-color: #C8E6C9;
  box-shadow: 0 0 0 0.2rem #607D8B;
}
.form-group label {
  color: #212121;
}
.form-group .btn-group {
  width: 100%;
}
.form-group .btn-group.btn-group-toggle {
  background-color: #C8E6C9;
}
.form-group .btn-group.btn-group-toggle > label {
  color: #4CAF50;
}
.form-group .btn-group.btn-group-toggle .btn {
  border-radius: 0;
}
.form-group .btn-group.btn-group-toggle .btn.active {
  background-color: #C8E6C9;
  color: white;
}
.form-group .btn-group .btn.focus, .form-group .btn-group .btn:focus {
  box-shadow: none;
}

.navegacion-menu {
  padding: 10px 20px 0 20px;
}
.navegacion-menu i {
  color: white;
  font-size: 1em;
  cursor: pointer;
}
.navegacion-menu i.green {
  color: #4CAF50;
}

.btn-end {
  border-radius: 5px;
  height: 100%;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.control-panel-icon {
  padding: 0 20px 0 20px;
}
.control-panel-icon i {
  color: white;
  font-size: 1.7em;
  border: 1.5px solid #C8E6C9;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.control-panel-icon i:hover {
  background-color: #C8E6C9;
}

.edit-alineacion-btn:hover {
  background-color: #C8E6C9;
}

/*----- INICIO -----*/
.iconos-iniciales {
  margin-top: 50px;
}
.iconos-iniciales .iconoContent {
  margin: 15px;
}
.iconos-iniciales .iconoContent:hover {
  transform: scale(1.1);
}
.iconos-iniciales .iconoContent .textoIcono {
  color: white;
  background-color: #4CAF50;
  padding: 5px;
  border-radius: 5px;
  font-size: 2em;
}

.panel-fondo {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 9999;
}

.section {
  display: none;
}

/*------AÑADIR EQUIPO------*/
.new-team {
  margin-top: 50px;
}

/*------ PARTIDO -----*/
.partido-content {
  width: 50%;
}

.icono-equipo-partido {
  width: 5em;
  height: 100%;
}

.cuadro-jugador {
  border-radius: 5px;
  border: 1.5px solid #628941;
  min-height: 1.5em;
  padding: 2px;
  width: 100%;
  margin: 10px 0;
}

.fila-jugadores {
  margin-top: 20px;
}

#cronometro {
  color: #4CAF50;
  font-size: 3em;
}

.inicio-botton {
  border-radius: 5px;
  background-color: #607D8B;
  color: white;
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
}

.inicio-botton:hover {
  transform: scale(1.1);
}

/*------ ALINEACION -----*/
.alineacion-container {
  text-align: center;
  color: #4CAF50;
  margin-top: 50px;
}

.add-suplentes {
  cursor: pointer;
  height: 2em;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
}
.add-suplentes:hover {
  background-color: #388E3C;
}

.alineacion-container .row {
  margin-top: 10px;
}

.alineacion-title {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 1px solid #BDBDBD;
}

.equipo-container {
  margin-top: 50px;
}

.equipo-title {
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
}

.add-player {
  cursor: pointer;
}

/*# sourceMappingURL=main-herramienta.css.map */
