body,html{
    height:100%;
}

.team-bck{
    background-image:url("../img/fondos/fondo-equipo.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.sidebar-menu{
    width:280px;
    left:-210px;
    background-color: rgb(107, 105, 106);
    position:fixed;
    bottom:0;
    top:0;
    right:auto;
    overflow: hidden;
    z-index: 9999;
}
@media(min-width:1025px){
    .sidebar-menu:hover{
        transform:translate(210px,0);
    }
    .sidebar-menu{
        transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    }
}

.m-t-30{
    margin-top:30px;
}

.sidebar-header{
    height:60px;
    font-family:'Montserrat', sans-serif;
    font-size:18px;
    text-align: left;
    padding-top:15px;
    padding-left:20px;
}

.sidebar-menu .menu-items >li > a{
    font-family:'Montserrat', sans-serif;
    color:white;
    padding:0 3px;
    display:inline-block;
    padding-left:32px;
    min-height:40px;
    line-height:40px;
    font-size: 14px;
    clear: both;
    width:218px;
}

ul > li{
    line-height:24px;
    margin-bottom:10px;
}
.icon-menu{
    display:none;
}

.icon-sidebar{
    color:white;
    border:solid 1px;
    border-color:white;
    padding:12px;
    font-size:14px;
}
@media (max-width: 1024px){
    .sidebar-menu{
        display:none;
        width:280px;
        left:0;
        margin-top:60px;
    }
    .icon-menu{
        display:inline-block;
        font-size:40px;
        margin-top:5px;
        padding-left:10px;
        width:60px;
    }

}