@import 'variables';

#admin_header{
  position:fixed;
  top:0;
  height:80px;
  width:100%;
  z-index:9999;
  .header_section{
    height:100%;
    display:inline-flex;
    padding:0;
    img{
      height:100%;
      width:100%;
      cursor:pointer;
    }
    &.white{
    }
    .header_link{
      border:solid 2px white;
      display:inline-flex;
      align-items:center;
      justify-content:center;
      cursor:pointer;
      background-color:white;
      &.item{
        background-image:linear-gradient(to bottom,black,grey);
        opacity:0.9;
        color:white;
        margin:6px 6px 6px 0;
        border-radius:10px;
        font-family:'Lato',sans-serif;
        font-weight:bold;
        font-size:1.2em;
        text-align:center;
        @media(max-width:768px){
          font-size:0.9em;
        }
        &.active{
          margin-top:12px;
          margin-bottom:0;
          box-shadow:3px -10px 22px -2px rgba(0,0,0,0.75);
        }
        &:first-child{margin-left:6px;}
        &:hover{
          transform:scale(1.05);
          z-index:9999;
        }
      }
      &.icon{
        font-size:60px;
        border-radius: 0 0 0 10px;
        border: solid 2px #201f1ff2;
        border-right: none;
        border-top: none;
      }
      &.logo{
        border-radius: 0 0 10px 0;
        border: solid 2px #201f1ff2;
        border-left: none;
        border-top: none;
      }
    }
  }
}