$dark-primary-color:#388E3C;
$light-primary-color:#C8E6C9;
$primary-color:#4CAF50;
$texto:white;
$primary-text:#212121;
$secondary-text:#757575;
$divider-color:#BDBDBD;
$color-resaltado:#607D8B;
$dark-color-resaltado:#425F6D;
$cancel-color:#c36868;
$dark-cancel-color:#884a4a;
$save-color:$primary-color;
$dark-save-color:$dark-primary-color;


