.add-suplentes{
  cursor:pointer;
  height:2em;
  font-size:1.3em;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #638d40;
  color: white;
  &:hover{
    background-color:#537338;
  }
};

.alineacion-container .row{
  margin-top:10px;
}

.alineacion-title{
  font-size:1.5em;
  font-weight:bold;
  padding-bottom:7px;
  border-bottom:1px solid lightseagreen;
}