@import 'variables';

body{
  font-family:"Gill Sans",sans-serif !important;
  color:$primary-text;
}
/*---CABECERA---*/
.header-first{
  background-color:$dark-primary-color;
  height:70px;
  .content {
    max-height:100%;
    width: 100%;
    display:inline-flex;
    justify-content: space-between;
    .icono-profile{
      width:70px;
      display:flex;
      padding:5px;
      .user-icon{
        border-radius:50%;
      }
    }
    img.logo-cabecera{
      width:4.4em;
      padding:5px;
    }
  }
}
.header-second{
  background-color:$light-primary-color;
  height:30px;
  .content{
    height:100%;
    i.icono-navegacion-cabecera{
      font-size:1.5em;
      color:$color-resaltado;
    }
  }
}

/*---LOGO_CARGA---*/
.loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color:rgb(249,249,249);
  display:flex;
  align-items:center;
  justify-content: center;
}
.icono-loader{
  animation:rotar 1s infinite;
  width:13em;
}

/*------ ANIMACIONES -----*/
@keyframes rotar {
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}