$dark-primary-color:#00796B;
$light-primary-color:#B2DFDB;
$primary-color:#009688;
$texto:white;
$textoCabecera:#757b88;
$primary-text:#212121;
$secondary-text:#757575;
$divider-color:#BDBDBD;
$color-resaltado:#607D8B;
$dark-color-resaltado:#425F6D;
$cancel-color:#c36868;
$dark-cancel-color:#884a4a;
$save-color:$primary-color;
$dark-save-color:$dark-primary-color;

$primeraCabecera:#3f4558;
$segundaCabecera:#4b5266;
$textoSegundaCabecera:#c0c8da;

$imagen-inicio-fondo:url('../../imagenes/fondos/fondo-equipo.jpg');


$media:'only screen';

$pantallaSmall:'(max-width:758px)';
$pantallaMedia:'(max-width:990px)';
$pantallaGrande:'(min-width:992px)';

$fuente:Comfortaa,cursive;
$fuente_texto:Lato,sans-serif;