/*--- FullCalendar ---*/
#calendar{
  height:100%;
  .fc-toolbar{
    .fc-center{
      color:black;
      text-transform:uppercase;
    }
  }
  .fc-day-number{
    float:left;
  }
  .fc-body{
    box-shadow: 2px 13px 34px 0 rgba(0,0,0,0.75);
  }
  .fc-day-header{
    text-transform:uppercase;
    color:black;
  }
  .fc-day{
    background-color:white;
    &.fc-today{
      background-color:#f1edd6;
    }
    &.fc-sat,&.fc-sun{
      background-color:#f1f1f1;
    }
  }
}