@import 'variables';

/*----- FORMULARIOS -----*/
div.invalid{
  color:red;
  font-size:.8em;
  text-align:left;
}

.required label:before{
  content:'* ';
  color:red;
}

.form-panel{
  background-color:white;
  padding:10px;
  text-align:center;
  height:100%;
  &.partido{
    border:none;
  }
}
.form-title{
  text-align:center;
  font-size:1.2em;
  color:$dark-primary-color;
  font-family:Raleway,sans-serif;
  text-transform: uppercase;
}

.buttons-form{
  display:flex;
  justify-content: flex-end;
  margin-bottom:15px;
  &>button:first-child{
    margin-right:1rem;
  }
}

.select-wrapper input{
  text-overflow:ellipsis;
}

.form-info{
  font-size:.9em;
  text-align:center;
}
.form-title>img{
  width:5em;
}
.navegacion-menu{
  padding:10px 20px 0 20px;
  i{
    color:$dark-primary-color;
    font-size:1em;
    cursor:pointer;
    &.green{
      color:$primary-color;
    }
  }
}


.btn-end{
  border-radius:5px;
  height:100%;
  padding:5px;
  width:100%;
  cursor:pointer;
}

.control-panel-icon {
  padding:0 20px 0 20px;
  i{
    color:$texto;
    font-size:1.7em;
    border-radius:5px;
    cursor:pointer;
    padding:5px;
    background-color:$color-resaltado;
    &:hover{background-color:$dark-color-resaltado;}
  }
}
