@import 'variables';

/*------AÑADIR EQUIPO------*/

.new-team{
  margin-top:50px;
}

/*------ PARTIDO -----*/
.partido-content{
  width:50%;
}
.icono-equipo-partido{
  width:5em;
  height:100%;
}


.inicio-botton{
  border-radius:5px;
  background-color:$color-resaltado;
  color:$texto;
  font-size:2em;
  padding:5px;
  cursor:pointer;
}
.inicio-botton:hover{
  transform:scale(1.1);
}


