@import 'variables';

html,body{
  font-family:$fuente;
  color:$primary-text;
  height:100%;
  overflow:scroll;
  background-color:#ebf5f4f2;
}
/*--- CABECERA ---*/
.header{
  @media #{$media} and #{$pantallaSmall}{
    height:50px;
  }
  position:fixed;
  top:0;
  height:80px;
  width:100%;
  z-index:9997;
  .header_section{
    height:100%;
    display:inline-flex;
    padding:0;
    img{
      height:100%;
      width:100%;
    }
    &.white{
    }
    .header_link{
      border:solid 2px white;
      display:inline-flex;
      align-items:center;
      justify-content:center;
      cursor:pointer;
      background-color:white;
      &.item{
        background-image:linear-gradient(to bottom,black,grey);
        opacity:0.9;
        color:white;
        margin:6px 6px 6px 0;
        border-radius:10px;
        font-family:'Lato',sans-serif;
        font-weight:bold;
        font-size:1.2em;
        text-align:center;
        @media(max-width:768px){
          font-size:0.9em;
        }
        &:hover{
          transform: scale(1.02);
        }
        &.active{
          margin-top:12px;
          margin-bottom:0;
          box-shadow:3px -10px 22px -2px rgba(0,0,0,0.75);
        }
        &:first-child{margin-left:6px;}
      }
      &.icon{
        font-size:60px;
        border-radius: 0 0 0 10px;
        border: solid 2px #201f1ff2;
        border-right: none;
        border-top: none;
      }
      &.logo{
        border-radius: 0 0 10px 0;
        border: solid 2px #201f1ff2;
        border-left: none;
        border-top: none;
      }
    }
  }
}

/*--- CONTENIDO ---*/
.main_content{
  padding-top:80px;
}

.main_panel{
  background-color:#e9ebe6e6;
  box-shadow: 1px 11px 33px -9px rgba(0,0,0,0.75);
  height:100%;
}

/*--- MENU ---*/
.panel-fondo{
  position:fixed;
  background-color:white;
  height:20px;
  width:20px;
  display:none;
  left:100%;
  z-index:9998;
}
.icon-menu{
  font-size:3.3em;
  cursor:pointer;
}
.close-menu{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px !important;
}
.menu-container{
  height:100%;
}

